.skills-menu {
  position: relative;
  /*font-family: 'Courier New', monospace;*/
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
  font-size: 18px;
  text-transform: none;
  letter-spacing: normal;
  text-align: left;
  /*width: inherit;*/
  display: none;
}

.skills-menu-container {
  position: absolute;
  left: -325px;
  /*background-color: #2b71a5;*/
  border-radius: 5px;
  /*border: 1px solid white;*/
  background-color: rgba(49, 128, 197, 0.2);

}



.skills-menu li {
  margin-left: 15px;
}

.skills-menu li:first-child {
  margin: 0;
}
.skills-menu li:last-child {
  margin: 0;
}

.skills-menu li:hover {
  background-color: rgba(49, 128, 197, 0);

}

{
  {Ruby, RubyOnRails },
  {PostgreSQL, ActiveRecord},
  {JavaScript, JQuery},
  {React, Redux},
  {HTML, CSS},
  {Git, RSpec}
}
