.page1 h1 {
  font-family: 'Cutive Mono', monospace;
  font-size: 50px;
}

.header-container {
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  color: white;
  position: relative;
}

.header-line1 {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0px 20px;
}

.statement {
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
  position: absolute;
  right: 30%;
  left: 20%;
  display: flex;
}

.main-menu-button  {
  // margin: 30px 30px 0px 0px;
  // padding: 10px 15px 0px 15px;
  position: relative;
  display: none;
}



.bars-container {
  width: 30px;
  height: 35px;
  padding: 10px 15px;
  border-radius: 3px;

}

.bars-container:hover {
  background-color: rgba(49, 128, 197, 0.2);
  cursor: pointer;

}

#bars {
  font-size: 35px;
  z-index: 1;

}
