/*Reset*/

html, body, div, span, button, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  font-size: inherit;
  list-style: none;
  text-decoration: inherit;
}

button {
  background: none;
  border-bottom: 1px dotted white;
}

button:hover {
  cursor: pointer;
}

.page1 {
  background-image: url("https://i.ytimg.com/vi/GrD5ylEn1wQ/maxresdefault.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page1 h1 {
  font-family: 'Cutive Mono', monospace;
  font-size: 50px;
}

.page1 header {
  // display: flex;
  // justify-content: space-between;
  color: white;
  position: relative;
  margin: 20px 20px 20px 20px;
}

.header-line1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0px;
}

.statement {
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
  position: absolute;
  right: 30%;
  left: 20%;
  display: flex;
}

.main-menu-container {
  position: relative;
}

.main-menu-button  {
  // margin: 30px 30px 0px 0px;
  // padding: 10px 15px 0px 15px;
  position: relative;
  // display: none;
}



.bars-container {
  width: 30px;
  height: 35px;
  padding: 10px 15px;
  border-radius: 3px;

}

.bars-container:hover {
  background-color: rgba(49, 128, 197, 0.2);
  cursor: pointer;

}

#bars {
  font-size: 35px;
  z-index: 1;

}

.main-menu-items {
  // position: absolute;
  // right: 0;
  border-radius: 4px;
    // text-align: right;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  /*margin-right: 45px;*/
  text-decoration: none;
  /*display: none;*/
  // margin-top: 50px;
  // margin-right: 35px;
  display: flex;
  // margin: 0px 20px 0px 20px;
  width: 100%;
}

.main-menu-items li {
  padding: 20px 10px 20px 20px;
  border-radius: 3px;
}

.main-menu-items li:hover {
  background-color: rgba(49, 128, 197, 0.2);
  cursor: pointer;
}

.main-menu-items a {
  border-bottom: 1px dotted white;
}

.menu-item-shown {
  background-color: rgba(49, 128, 197, 0.2);
}

.contact-li {
  position: relative;
}

.contact-me-menu {
  position: absolute;
  margin-top: 20px;
  background-color: rgba(49, 128, 197, 0.2);
  border-radius: 0px 0px 3px 3px;
  display: none;
}

.contact-li li {
  padding-right: 20px;
  width:163.75px;

}

.skills-menu {
  margin: auto;
  display: none;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: "Libre Baskerville", sans-serif;
  background-color: rgba(49, 128, 197, 0.2);
  padding: 40px 20px;
  border-radius: 20px;
}

.skills-container ul {
  display: flex;
}

.skills-container div {
  padding: 20px 0px;
}

.skills-container i {
  font-size: 80px;
  margin: 30px;
}

.projects-menu {
  width: 700px;
  margin: auto;
  display: none;
}

.projects-menu img {
  width: 100%;
}


.projects-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  font-family: "Libre Baskerville", sans-serif;
  background-color: rgba(49, 128, 197, 0.2);
  padding: 60px;
  border-radius: 20px;
}

.project {
  width: 233.3333px;
  box-sizing: border-box;
  cursor: pointer;
}

.project:nth-child(2) {
  margin: 0px 60px;
}

.track-header {
  font-family: 'Bowlby One SC', cursive;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}

/*BioRhyme font?*/

.quarry-header {
  padding-top: 10px;
  font-family: 'Arbutus Slab', serif;
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0.1em;
}

@font-face {
    font-family: 'Tetris1';
    src:url('../fonts/tetris/Tetris1.ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.tetris-header {
  font-family: 'Tetris1';
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 20px;
  text-align: center;
}

.project p {
  display: none;
}

.project-box {
  width: 700px;
  margin: auto;
  display: none;
}

.project-box img {
  width: 100%;
}

.project-text {
  margin-left: 60px;
  width: 381px;
}


.project-links {
  text-align: center;
  margin: 15px 0px;
}


.project-box a {
  border-bottom: 1px dotted white;
  margin: 20px;
}

.projects-back {
  text-align: center;
}

.page1 footer {
  text-align: center;
  background-color: #040a0a;
  padding: 15px;
  // font-family: 'Libre Baskerville', serif;
  font-family: 'Cutive Mono', monospace;
  text-transform: lowercase;
  font-size: 40px;

  // letter-spacing: 0.75em;
}

@media screen and (max-width: 897px) {

}
