
// .main-menu-container {
//   position: relative;
//
// }

.main-menu-items {
  // position: absolute;
  // right: 0;
  border-radius: 4px;
    // text-align: right;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  /*margin-right: 45px;*/
  text-decoration: none;
  /*display: none;*/
  // margin-top: 50px;
  // margin-right: 35px;
  display: flex;
  // margin: 0px 20px 0px 20px;
  width: 100%;
}

.main-menu-items li {
  padding: 20px 10px 20px 20px;
  border-radius: 3px;
}

.main-menu-items li:hover {
  background-color: rgba(49, 128, 197, 0.2);
  cursor: pointer;
}

.main-menu-items a {
  border-bottom: 1px dotted white;
}

.menu-item-shown {
  background-color: rgba(49, 128, 197, 0.2);
}
